<h1><%= @book.title %></h1>

<p>Author: <%= @book.author %></p>
<p>Genre: <%= @book.genre %></p>
<p>Price: $<%= @book.price %></p>
<p>Published Date: <%= @book.published_date %></p>

<ul>
    <li><%= link_to "Edit", edit_book_path(@book) %></li>
    <li><%= link_to "Delete", delete_book_path(@book) %></li>
</ul>

<%= link_to "Home", root_path %>